<h1>{{title}}</h1>

<div class="empresaimg">
    <img src="images/home/marcas.jpg" alt="Marcas">
</div>

<div class="bienvenidos">
    <h2>Bienvenidos</h2>
    <p>Autopartes responde con seriedad y compromiso a las exigencias del sector autopartista, que
        se
        encuentran en constante evoluci&oacuten.</p>
    <p>Brindamos un servicio de calidad: centro de atención telefónica y chat directo, cobertura y envíos a todo el país
        además de países limítrofes . </p>
    <p>Nuestra tienda está especializada en la comercialización de toda la línea de repuestos de vehículos Chevrolet,
        Citroen, Fiat, Ford, Peugeot, Renault, Toyota, Volkswagen, y muchas marcas más.</p>
</div>
<h2 id="servicios">...</h2>

<div class="bienvenidos">
    <h2>Servicios</h2>
    <h4>Centro de atenci&oacuten telef&oacutenica y chat directo </h4>
    <p>
    <ul>
        <li>Líneas rotativas y números directos de whatsApp.</li>
        <li>Rapidez, eficacia, servicio y respuestas en el acto.</li>
        <li>Asesoramiento a conciencia y beneficio del cliente.</li>
    </ul>
    </p>
    <h4>Envíos a todo el país y países limítrofes</h4>
    <p>
    <ul>
        <li>Gran diferencial en logística.</li>
        <li>Pedidos despachados en el día.</li>
        <li>Embalado y envío hacia el transporte o correo sin cargo.</li>
    </ul>
    </p>

</div>

<h2>...</h2>

<div class="bienvenidos">
    <h2>Soporte</h2>
    <p> Por cualquier duda comunicarse con el Area de soporte</p>
    <ul>
        <li> <i class="fas fa-phone-alt"></i> Teléfonos: 341-45640005 / 341-45710005</li>
        <li> <i class="fab fa-whatsapp"></i> WhatsApps: +341350700005</li>
        <li> <i class="fas fa-at"></i> E-mail: <a target="_blanck" href="#"> soporte@autopartes.com.ar</a></li>

    </ul>

</div>

<h2 id="soporte">...</h2>