body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 20px ;
}

.holder{
  width: 860px;
  margin: 0 auto;
}

h2{
  color: rgb(32, 32, 145);
  font-weight: 400;
  margin: 0 0 1em;
}

.left{
  float: left;
}

.right{
  float: right;
}