.historia p{
    font-size: 0.8em;
    text-align: justify;
}

.empresaimg{
    margin-bottom: 1.5em;
}

.empresaimg img{
 max-width: 100%;
}

.ubicacion p{
    font-size: 0.8em;
}

.ubicacion iframe{
    width: 600px;
    height: 400px;
    border: 0;
} 